---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=5&key=e569c643674a4887be4201359231006&q=30,30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/14/2023 13:16:13
      Cdn-Edgestorageid:
      - '1069'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 9658616576ee4a47d843b352f235f215
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"`Izbat As Safih","region":"Al Jizah","country":"Egypt","lat":30.0,"lon":30.0,"tz_id":"Africa/Cairo","localtime_epoch":1686748573,"localtime":"2023-06-14
        16:16"},"current":{"last_updated_epoch":1686748500,"last_updated":"2023-06-14
        16:15","temp_c":30.0,"temp_f":86.0,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":16.3,"wind_kph":26.3,"wind_degree":354,"wind_dir":"N","pressure_mb":1011.0,"pressure_in":29.84,"precip_mm":0.0,"precip_in":0.0,"humidity":37,"cloud":0,"feelslike_c":29.8,"feelslike_f":85.6,"vis_km":10.0,"vis_miles":6.0,"uv":8.0,"gust_mph":18.8,"gust_kph":30.2},"forecast":{"forecastday":[{"date":"2023-06-14","date_epoch":1686700800,"day":{"maxtemp_c":32.3,"maxtemp_f":90.1,"mintemp_c":19.4,"mintemp_f":66.9,"avgtemp_c":24.7,"avgtemp_f":76.4,"maxwind_mph":16.3,"maxwind_kph":26.3,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":63.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":6.0},"astro":{"sunrise":"05:00
        AM","sunset":"07:06 PM","moonrise":"02:09 AM","moonset":"03:41 PM","moon_phase":"Waning
        Crescent","moon_illumination":"18","is_moon_up":0,"is_sun_up":0},"hour":[{"time_epoch":1686690000,"time":"2023-06-14
        00:00","temp_c":20.8,"temp_f":69.4,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":10.5,"wind_kph":16.9,"wind_degree":335,"wind_dir":"NNW","pressure_mb":1010.0,"pressure_in":29.82,"precip_mm":0.0,"precip_in":0.0,"humidity":84,"cloud":6,"feelslike_c":20.8,"feelslike_f":69.4,"windchill_c":20.8,"windchill_f":69.4,"heatindex_c":20.8,"heatindex_f":69.4,"dewpoint_c":17.9,"dewpoint_f":64.2,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":16.3,"gust_kph":26.3,"uv":1.0},{"time_epoch":1686693600,"time":"2023-06-14
        01:00","temp_c":20.5,"temp_f":68.9,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":9.6,"wind_kph":15.5,"wind_degree":340,"wind_dir":"NNW","pressure_mb":1010.0,"pressure_in":29.82,"precip_mm":0.0,"precip_in":0.0,"humidity":86,"cloud":10,"feelslike_c":20.5,"feelslike_f":68.9,"windchill_c":20.5,"windchi[...]
